@import "abstract/variables";
@import "fonts/fonts";
@import "components/mixins";
@import "layouts/heading.scss";
@import "layouts/calculateCost.scss"; 
@import "layouts/completedProjects.scss";
@import "layouts/control.scss";
@import "layouts/form.scss"; 
@import "layouts/button.scss"; 
@import "layouts/examples.scss"; 
@import "layouts/measurements.scss"; 
@import "layouts/fantasies.scss"; 
@import "layouts/projects.scss"; 
@import "layouts/goal.scss"; 
@import "layouts/team.scss"; 
@import "layouts/questions.scss"; 

.map{
    background-color: black;
    &_img {
        @include centrPicture();
        padding-top:50px;
    }
    @media screen and (min-width : 800px){
        background-color: black;
        &_img {
            @include centrPicture();
            padding-top:50px;
            height: 465px;
            width: 64.2vw ;
            margin-left: 13vw;
        } 
    }
}

.contacts-bottom {
    background-color: black;
    @include textTitle();
    color: $yellowish;
    &_telephone{
        color: $yellowish;
    }
}
.insta{
    background-color: black;
    &_icon{
        padding: 25px 0 38px 37%;
        height: 39px;
        width: 26%;
    }
}


