@font-face {
  font-family: "FuturaDemiC";
  src: url("assets/fonts-desktop/FuturaDemiC.eot");
  src: url("assets/fonts-desktop/FuturaDemiC.woff") format("woff"), url("assets/fonts-desktop/FuturaDemiC.ttf") format("ttf"), url("assets/fonts-desktop/FuturaDemiC.woff2") format("woff2");
}

@font-face {
  font-family: "Yeseva One";
  src: url("assets/fonts-desktop/YesevaOne.eot");
  src: url("assets/fonts-desktop/YesevaOne.woff") format("woff"), url("assets/fonts-desktop/YasevaOne.ttf") format("ttf"), url("assets/fonts-desktop/YasevaOne.woff2") format("woff2");
}

@font-face {
  font-family: "FuturaBookC";
  src: url("assets/fonts-desktop/FuturaBookC.eot");
  src: url("assets/fonts-desktop/FuturaBookC.woff") format("woff"), url("assets/fonts-desktop/FuturaBookC.ttf") format("ttf"), url("assets/fonts-desktop/FuturaBookC.woff2") format("woff2");
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 57px;
  width: 100%;
  background-color: black;
}

.header_logo h1 {
  font-family: FuturaDemiC;
  font-size: 0.75em;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #E3B873;
  left: 4.8%;
  right: 48.27%;
  top: 0.26%;
  bottom: 99.62%;
}

.header_telephone a {
  font-family: FuturaDemiC;
  font-size: 0.75em;
  line-height: 14px;
  text-align: right;
  color: #FFFFFF;
}

.header_navbar {
  display: none;
}

.header_button {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .header {
    height: 80px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header_logo h1 {
    font-size: 14px;
    line-height: 16px;
    margin-left: 5.55%;
  }
  .header_navbar {
    font-family: FuturaBookC;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_navbar ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.calculate-cost {
  height: 476px;
  background-color: black;
  width: 100%;
  position: relative;
}

.calculate-cost_title {
  position: absolute;
  top: 17.9%;
  left: 4.8%;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.calculate-cost_title span {
  color: #E3B873;
}

.calculate-cost_img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 476px;
  -o-object-fit: cover;
     object-fit: cover;
}

.calculate-cost_img_gray {
  opacity: 0.7;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0 auto;
  width: 100%;
  height: 476px;
  -o-object-fit: cover;
     object-fit: cover;
}

.calculate-cost_text {
  position: absolute;
  left: 4.8%;
  top: 33.7%;
  font-family: FuturaBookC;
  font-size: 1.123em;
  line-height: 135.84%;
  /* or 24px */
  color: #FFFFFF;
  width: 59%;
}

.calculate-cost_button {
  width: 90%;
  height: 51px;
  background-color: #E3B873;
  position: absolute;
  top: 62.4%;
  left: 5%;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.calculate-cost_application {
  width: 90%;
  height: 51px;
  font-family: FuturaDemiC;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 364px;
  left: 5%;
}

.completed-projects {
  height: 725px;
  background-color: black;
}

.completed-projects_title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  text-align: center;
  color: #E3B873;
  padding: 36px 33.6% 22px 32.5%;
  width: 33.3%;
}

.completed-projects_description {
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 158.48%;
  /* or 22px */
  width: 83%;
  text-align: center;
  padding: 0 8.5% 35px 8.5%;
  color: #FFFFFF;
}

.completed-projects_img {
  padding: 0 5% 9.5% 5%;
  width: 90%;
  height: 242px;
  position: relative;
}

.completed-projects_arrow {
  position: absolute;
  top: 860px;
  left: 8.5%;
}

.completed-projects_arrow_2 {
  position: absolute;
  top: 860px;
  right: 8.5%;
}

.completed-projects_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.completed-projects_columns .finished-work {
  width: 24.6%;
  padding: 0 16% 7.4% 8.5%;
}

.completed-projects_columns .finished-work h2 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 138.6%;
  /* identical to box height, or 19px */
  text-transform: uppercase;
  color: #E3B873;
}

.completed-projects_columns .finished-work h3 {
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
}

.control {
  height: 540px;
  background-color: black;
  display: block;
}

.control_title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.control_camera {
  padding-left: 45%;
  padding-right: 45%;
  width: 8.8%;
  height: 28px;
  padding: 20px 45% 40px 45%;
}

.control_article {
  font-family: FuturaBookC;
  font-size: 14px;
  line-height: 169.8%;
  /* or 24px */
  text-align: center;
  color: #FFFFFF;
  padding: 0 4.5% 0 4.5%;
}

.control iframe {
  width: 90%;
  height: 207px;
  padding: 0 4.5% 50px 4.5%;
}

.form {
  height: 260px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: FuturaBookC;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.form :nth-child(3) {
  padding-top: 40px;
}

.form_label {
  margin-left: 4.5%;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.form_input {
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  background-color: black;
  border-bottom: 2px solid white;
  margin-left: 4.5%;
  color: white;
  font-family: FuturaBookC;
  font-size: 18px;
  line-height: 138.72%;
}

.form_checkbox {
  padding-left: 4.5%;
}

.button {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, black), color-stop(50%, white));
  background: linear-gradient(180deg, black 50%, white 50%);
  position: relative;
}

.button_button {
  width: 91%;
  margin: 0 auto;
  height: 100%;
  background-color: #E3B873;
  position: absolute;
  left: 4.6%;
  font-family: FuturaDemiC;
  font-size: 15px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.examples {
  background: #FFFFFF;
  height: 1730px;
  display: block;
}

.examples_title {
  margin-top: 57px;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  color: #181818;
}

.examples_hammer {
  padding-left: 45%;
  padding-right: 45%;
  width: 8.8%;
  height: 28px;
  padding-top: 17px;
}

.examples_block-of-pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.examples_pic {
  height: 485px;
  width: 90%;
  position: relative;
  padding-top: 60px;
}

.examples_picture {
  height: 365px;
  margin: 0 4.6%;
  width: 100%;
}

.examples_details {
  padding-left: 8%;
  position: absolute;
  height: 241px;
  top: 220px;
  left: 4.6%;
  background: #FFFFFF;
  background-color: white;
  height: 240px;
  width: 72%;
  font-family: FuturaBookC;
  font-size: 13px;
  line-height: 169.8%;
  /* or 22px */
  color: #959595;
}

.examples_details li {
  list-style-type: circle;
}

.examples_details h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 138.6%;
  /* identical to box height, or 21px */
  color: #363636;
  padding-top: 21px;
  padding-bottom: 10px;
}

.examples_price {
  position: absolute;
  bottom: 8%;
  left: 4.6%;
  width: 50%;
  background-color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 138.6%;
  /* or 21px */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 17px;
  height: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 14px;
  padding-left: 10%;
}

.fantasies {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
  color: #E3B873;
  position: relative;
  height: 377px;
}

.fantasies_title {
  background-color: white;
  width: 90%;
  padding-left: 5%;
  height: 66px;
  padding-bottom: 24px;
}

.fantasies_slider {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, white), color-stop(50%, black));
  background: linear-gradient(180deg, white 50%, black 50%);
  padding: 0 5% 9.5% 5%;
  width: 90%;
  height: 242px;
  position: relative;
}

.fantasies_arrow {
  position: absolute;
  top: 205px;
  left: 8.5%;
}

.fantasies_arrow_2 {
  position: absolute;
  top: 205px;
  right: 8.5%;
}

.project {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project_title {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 138.6%;
  /* or 30px */
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.project_pen {
  padding-left: 45%;
  padding-right: 45%;
  width: 8.8%;
  height: 28px;
  width: 7.5%;
  padding-top: 25px;
}

.project_article {
  margin: 23px 4.5% 39px 4.5%;
  font-family: FuturaBookC;
  font-size: 15px;
  line-height: 135.84%;
  text-align: center;
  color: #FFFFFF;
  padding-left: 6%;
  padding-right: 6%;
}

.project_pic {
  height: 485px;
  width: 90%;
  position: relative;
  padding-top: 60px;
}

.project_picture {
  height: 365px;
  margin: 0 4.6%;
  width: 100%;
}

.project_details {
  padding-left: 8%;
  position: absolute;
  height: 241px;
  top: 220px;
  left: 4.6%;
  background: #FFFFFF;
  background-color: white;
  height: 240px;
  width: 72%;
  font-family: FuturaBookC;
  font-size: 13px;
  line-height: 169.8%;
  /* or 22px */
  color: #959595;
}

.project_details li {
  list-style-type: circle;
}

.project_details h3 {
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 138.6%;
  /* identical to box height, or 21px */
  color: #363636;
  padding-top: 21px;
  padding-bottom: 10px;
}

.project_price {
  position: absolute;
  bottom: 8%;
  left: 4.6%;
  width: 50%;
  background-color: #E3B873;
  font-family: Yeseva One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 138.6%;
  /* or 21px */
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 17px;
  height: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 14px;
  padding-left: 10%;
}
/*# sourceMappingURL=main.css.map */