@import "abstract/variables";
@import "fonts/fonts";
@import "components/mixins";
  .header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 57px;
      width: 100%;
      background-color: black;
      &_logo h1{
        font-family: FuturaDemiC;
        font-size: 0.75em;
        line-height: 14px;
        @include textYellow();
       
      }
     &_telephone a{
        font-family: FuturaDemiC;
        font-size: 0.75em;
        line-height: 14px;
        text-align: right;
        color: #FFFFFF;
        }
      
      &_navbar{
          display: none;
      }
      &_button{
          display: none;
      }
      @media only screen  and (min-width : 800px){
          height: 80px;
          width: 100%;
          justify-content: unset;
          &_logo h1{
            font-size: 14px;
            line-height: 16px;
            margin-left: 5.5vw;
           width: 13vw;
          }
          &_navbar {
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 16px;
            @include textWhite();
            display: flex;
            width: 40vw;
            margin-left: 6.1vw;

           ul {
               display: flex;    
           } 
           li{
              margin-right: 3.5vw;   
           }
          }
          &_telephone a{
            margin-left: 4.8vw;
            font-size: 14px;
            line-height: 16px;
            text-decoration-line: underline;
            color: #E3B873;
          }
          &_button{
            display: block;
            width: 11vw;
            height: 37px;
            background-color: $yellowish;
            margin-left: 3vw;
            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            @include textWhite();
        }

      }

  }
  .calculate-cost{
      height: 476px;
      background-color: black;
      width: 100%;
      position: relative;
      

      &_title{
        position: absolute;
        top:17.9%;
        left:4.8%;    
        @include textTitle();
        color: white;
        span{ 
            color: $yellowish};
        }
        &_img{
            display: block;
            margin: 0 auto;
            width: 100%;
            height: 476px;
            object-fit: cover;
        }
        &_img_gray{
            opacity: 0.7 ;
            position: absolute;
            top: 0%;
            left    : 0%;
            margin: 0 auto;
            width: 100%;
            height: 476px;
            object-fit: cover;
            
        }
        &_img_big{
            display: none;
        }
        &_text{
            position: absolute;
            left: 4.8%;
            top: 33.7%;
            font-family: FuturaBookC;
            font-size: 1.123em;
            line-height: 135.84%;
            /* or 24px */
            color: #FFFFFF;
            width: 59%;
        }
        &_button{
            width: 90%;
            height: 51px;
            background-color: $yellowish;
            position: absolute;
            top: 62.4%;
            left: 5%;
            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            @include textWhite();
        }
        &_application{
            width: 90%;
            height: 51px;
            font-family: FuturaDemiC;
            font-size: 13px;
            line-height: 15px;
            @include textWhite();
            border: 1px solid #FFFFFF;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            position: absolute;
            top: 364px;
            left: 5%;
        }
        @media screen and (min-width : 800px){
            height: 707px;
      
            &_title{
              position: absolute;
              top:194px;
              left:9.7vw;    
              font-size: 40px;
              line-height: 53px;
              }
              &_img{
                  display: none;
              }
              &_img_big{
                display: block;
                margin-left: 5.7%;
                width: 94.3%;
                height: 707px;
                object-fit: cover;

            }
              &_img_gray{
                  height: 707px;
                  margin-left: 5.7%;
                width: 94.3%;
              }
              &_text{
                  left: 9.8%;
                  top: 318px;
                  font-size: 22px;
                  line-height: 30px;
                  width: 35%;
              }
              &_button{
                  width: 14vw;
                  top: 62.4%;
                  left: 10%;
              }
              &_application{
                width: 14vw;
                top: 62.4%;
                left: 25.6%;
              } 
              &_instagram{
                  transform: rotate(90deg);
                  @include textYellow;
                  font-family: FuturaBookC;
                  font-size: 14px;
                  position: absolute;
                  top: 284px;
                  
              }
        }
      
  }
  .completed-projects{
      height: 725px;
      background-color: black;
      
      &_title{
        @include textTitle();
        letter-spacing: -0.07em;
        @include textYellow();
        padding: 36px 33.6% 22px 32.5%;
        width: 33.3%;
      }
      &_description{
        font-family: FuturaBookC;
        font-size: 14px;
        line-height: 158.48%;
        /* or 22px */
        width:83%;
        text-align: center;
        padding: 0 8.5% 35px 8.5%;
        color: #FFFFFF;
      }
      &_img{
          @include centrPicture();
      }
      &_arrow{
          position: absolute;
          top: 860px;
          left: 8.5%;   
      }
      &_arrow_2{
        position: absolute;
        top: 860px;
        right: 8.5%;
      }
      &_columns{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
       .finished-work{
           width: 24.6%;
           padding: 0 16% 7.4% 8.5%;
            h2{
                font-family: Yeseva One;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 138.6%;
                /* identical to box height, or 19px */
                text-transform: uppercase;
                color: #E3B873;

            }
            h3{
                font-family: FuturaBookC;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;

            }
       }   
       &_names{
           display: none;
       }
       
      }
      &_slider{
        display: none;
        }
        &_paginator{
            display: none;
        }
      @media screen and (min-width : 800px){
        height: 750px;
        position: relative;
        &_names{
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.3);
           font-size: 14px;
           line-height: 19px; 
           position: absolute;
           font-family: Yeseva One;
           top: 107px;
           right: 15.6vw;
           width:43.4vw;
           ul{
               display: flex;
               
           }
           li{
               margin-right: 4vw;
           }
           li:hover{
               color: $yellowish;
           }
        }
        &_slider{
            width: 60.7vw;
            display: flex;
            overflow: hidden;
            position: absolute;
            top: 165px;
            left: 38vw;
            transition: transform 700ms linear;
            
            &__img{
            height: 679px;
            min-width: 51vw;
            }
            &__img2{
            width: 47vw;
            height: 584px;
            }
        }
        .first-position{
           transform: translate3d(0px, 0px, 0px);
        }
        .second-position{
            
            transform: translate3d(-47vh, 0px, 0px);
        }
        &_title{
          padding: 176px 16.6vw 34px 7vw;
          width: 17.5vw;
          font-size: 27px;
          line-height: 37px;
        }
        &_description{
          font-family: FuturaBookC;
          font-size: 18px;
          width: 30vw;
          text-align: left;
          padding: 0 3.5vw 42px 7vw;
        }
        &_img{
            display: none;
        }
        &_arrow{
            display:none;  
        }
        &_arrow_2{
          position: absolute;
          top: 426px;
          right: 3vw;
          z-index: 1;
          height: 55px;
          width: 3vw;
        }
        &_columns{
            width: 38vw;
         .finished-work{
             display: flex;
             flex-wrap: wrap;
             width: 9vw;
             padding: 0 0 47px 7vw;
              h2{
                 font-size: 18px;
                  line-height: 138.6%;
              }
              h3{
                  font-size: 15px;
                  line-height: 20px;
              }
         }   
        }
        &_paginator{
            position: absolute;
            top: 640px;
            left: 8vw;
            width: 15vw;
            height: 13px;
            display: block;
        }
      }

    }
    .control{
        height: 540px;
        background-color: black;
        display: block;
        &_title{
            @include textTitle();
            color: #FFFFFF;
        }
        &_camera{
            @include icons();
            padding: 20px 45% 40px 45%;
        }
        &_article{
            font-family: FuturaBookC;
            font-size: 14px;
            line-height: 169.8%;
            /* or 24px */
            text-align: center;
            color: #FFFFFF;
            padding: 0 4.5% 0 4.5%;
        }
        iframe{
            width: 90%;
             height: 207px;
             padding: 0 4.5% 50px 4.5%;
             
        }
        @media screen and (min-width : 800px){
        height: 915px;
        background: linear-gradient(180deg, black 50%, white 50%);
        &_title{
            padding-top: 90px;
        }
        &_article{
            font-size: 20px;
            padding: 98px 26.3vw 0 26.3vw;
            color: black;
        }
        iframe{
            width: 56.7vw;
            height: 434px;
            padding: 20px 21% 0 21%;
        }
        } 
    }
.form{
    height: 260px;
    background: black;
    display: flex;
    flex-direction: column;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    :nth-child(3){
        padding-top: 40px; 
    }
    
    
    &_label{
        margin-left: 4.5%;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        
    }
    
    &_input{
        width: 90%;
        box-sizing: border-box;
        border: none;
        background-color: black;
        border-bottom: 2px solid white;
        margin-left: 4.5%;
        color:white;
        font-family: FuturaBookC;
        font-size: 18px;
        line-height: 138.72%;
        
    }
    &_checkbox{
       padding-left: 4.5%;
    }
    @media screen and (min-width : 800px){
        height: 342px;
        background:white;
    flex-direction: row;
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    :nth-child(1){
        padding-top: 0; 
    }
    .label_1{
        position: absolute;
        top:-9px;
        left: 33vw;
    }
    .label_2{
        position: absolute;
        top:-48px;
        left: 50vw;
    }
    &_label{
        margin-left: 0;
        color: black;
    }
    
    &_input{
        width: 16.6vw;
        background-color: white;
        border-bottom: 2px solid black;
        margin-left: 0;
        color:black;
        font-family: FuturaBookC;
        font-size: 18px;
        line-height: 20px;
        height: 51px;
    }
    &_checkbox{
       padding-left: 0;
       position: absolute;
       left: 40vw;
       top: 175px;
    }
    }
}

.button{
        height:50px;   
        background: linear-gradient(180deg,black 50%, white 50%);
        position: relative;
        
        &_button{
            width: 91%;
            margin: 0 auto; 
            height: 100%;
            background-color: #E3B873;
            position: absolute;
            left: 4.6%;
            font-family: FuturaDemiC;
            font-size: 15px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        @media screen and (min-width : 800px){
            height:50px;   
            background: white;
            position: relative;
            
            &_button{
                width: 14vw;
                margin: 0; 
                left: 66vw;
                top:-341px;
                
            } 
        } 
    }
.examples{
    background: #FFFFFF;
    height: 1730px;
    display: block;

    &_title{
        margin-top: 57px;
        @include textTitle();
        color: #181818;
    }
    &_hammer{
        @include icons();
        padding-top: 17px;
           
    }
    &_block-of-pictures{
        display: flex;
        flex-direction: column;
    
    }
    &_pic{
        height: 485px;
        width: 90%;
        position: relative;
        padding-top: 60px;
    }
    &_picture{
        height: 365px;
        margin: 0 4.6%;
        width: 100%;
        
    }
    
    &_details{
        padding-left: 8%;
        position: absolute;
        height: 241px;
        top:220px;
        left: 4.6%;
        background: #FFFFFF;
        background-color: white;
        height: 240px;
        width: 72%;
        font-family: FuturaBookC;
        font-size: 13px;
        line-height: 169.8%;
        /* or 22px */
        color: #959595;
        li{
            list-style-type: circle;
        }
        h3{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 138.6%;
            /* identical to box height, or 21px */
            color: #363636;
            padding-top: 21px;
            padding-bottom: 10px;
        }
    }
    &_price{
        position: absolute;
        bottom: 8%;
        left: 4.6%;
        width: 50%;
        background-color: #E3B873;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 138.6%;
        /* or 21px */
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 17px;
        height: 40px;
        align-content: center;
        padding-top: 14px;
        padding-left: 10%;
    }
    @media screen and (min-width : 800px){
        height: 830px;
        
        &_block-of-pictures{
            display: flex;
            flex-direction: row;
            margin-left: 4.8vw;
        }
        &_pic{
            height: 608px;
            width: 27vw;
            position: relative;
            padding-top: 60px;
            padding-left: 2vw;
        }
        &_picture{
            height: 421px;
            margin: 0 2vw 0 0;
            width: 100%;
            
        }
        
        &_details{
            padding-left: 8%;
            position: absolute;
            height: 286px;
            top: 294px;
            width: 23vw;
            font-size: 15px;
            
           
            h3{
                font-size: 18px;
                padding-top: 25px;
                
            }
        }
        &_price{
            
            width: 15.8vw;
            font-size: 18px;
            margin-top: 0px;
            height: 54px;
            padding-top: 17px;
            padding-left: 1.5vw;
        }
    }
}
.measurements{
    display: none;
    @media screen and (min-width : 800px){
        display: flex;
        position: relative;

        &_house{
            width: 30vw;
            height: 700px;
            background-image: url(assets/house.png);
            background-size: cover;
        }
        &_house-circle{
            width: 35vw;
            height: 700px;
            border-radius: 50%;
            background-image: linear-gradient(to right, transparent 0%, transparent 20%, transparent 20%, $yellowish 100%);
            mask-image: radial-gradient(circle at center, transparent 70%, white 68%);
            position:absolute;
        }
        &_list{
            font-family: FuturaDemic;
            font-size: 18px;
            line-height: 21px;
            position: absolute;
            &_01{
                position: absolute;
                top: 117px;
                left: 33vw;
                width: 25vw;
            }
            &_02{
                position: absolute;
                top: 238px;
                left: 36vw;
                width: 7vw;
            }
            &_03{
                position: absolute;
                top: 400px;
                left: 36vw;
                width: 7vw;
            }
            

        }

        &_form{
            height: 510px;
            width: 35vw;
            background: black;
            display: flex;
            flex-direction: column;
            font-family: FuturaBookC;
            font-size: 20px;
            line-height: 25px;
            color: #FFFFFF;
            margin-left: 24.2vw;
            margin-top: 100px;
            text-align: center;
            padding-top: 28px;
            
            :nth-child(3){
                padding-top: 0; 
            }
            &_label{
                margin-left: 4.5%;
                font-family: FuturaBookC;
                font-size: 15px;
                line-height: 20px;
                color: rgba(255, 255, 255, 0.5);
                text-align: left;
                padding-top: 39px;
                
            }
            
            &_input{
                width: 90%;
                box-sizing: border-box;
                border: none;
                background-color: black;
                border-bottom: 2px solid white;
                margin-left: 4.5%;
                color:white;
                font-family: FuturaBookC;
                font-size: 18px;
                line-height: 138.72%;
                
            }
            &_checkbox{
               padding-left: 4.5%;
               text-align: left;
               padding-top: 50px;
            }
            &_button{
                display: block;
                width: 14vw;
                height: 50px;
                background-color: $yellowish;
                margin-left: 19vw;
                font-family: FuturaDemiC;
                font-size: 13px;
                line-height: 15px;
                @include textWhite();
                margin-top: 50px;
            
            }
        }

    }
}
.fantasies{
    @include textTitle();
    @include textYellow();
    position: relative;
    height: 377px;
    
    &_title{
        background-color: white;
        width: 90%;
        padding-left: 5%;
        height: 66px;
        padding-bottom: 24px;
    }
    &_slider{
        background: linear-gradient(180deg, white 50%,black 50%);
        @include centrPicture();
    }
     &_arrow{
        position: absolute;
        top: 205px;
        left: 8.5%;   
    }
    &_arrow_2{
        position: absolute;
        top: 205px;
        right: 8.5%;
      }
    &_background{
        display: none;
    }
    &_list{
        display: none;
    }
    &_1{
        display: none;
    }
    &_2{
        display: none;
    }
    &_3{
        display: none;
    }
    &_4{
        display: none;
    }
    &_grey{
         display: none;   
    }
      @media screen and (min-width : 800px){
        height: 1018px;
        background-color: white;
        position: relative;
        &_title{
            background-color: rgba($color: #000000, $alpha: 0);
            width: 28vw;
            padding-left: 0;
            padding-bottom: 0;
            position: absolute;
            top: 247px;
            left: 6.6vw;
            z-index: 1;
            text-align: left;
        }
        &_slider{
            display: none;
        }
         &_arrow{
           display: none; 
        }
        &_arrow_2{
            display: none;
          }
          &_background{
              display: block;
            position: absolute;
            left: 0;
            top: 111px;
            height: 664px;
            width: 100vw;
        }
        &_grey{
            display: block;
            position: absolute;
            left: 0;
            top: 111px;
            height: 664px;
            width: 100vw;
            opacity: 0.9;
        }
        &_list{
            display: block;
            position: absolute;
            font-family: futuraDemiC;
            font-size: 20px;
            line-height: 34px;
            color: #FFFFFF;
            top: 320px;
            left: 6.3vw;
            padding-bottom: 25px;
            text-transform: none;
            text-align: left;
            :hover{
                color: $yellowish;
            }
        }
        &_1{
            display: block;
            position: absolute;
            top: 60px;
            left: 41vw;
            height: 557px;
            width: 24.5vw;
        }
        &_2{
            display: block;
            position: absolute;
            left: 41vw;
            width: 24.5vw;
            bottom: 0;
            height: 350px;
        }
        &_3{
            display: block;
            position: absolute;
            left: 68.3vw;
            width: 24.5vw;
            top: 0px;
            height: 275px;
        }
        &_4{
            display: block;
            position: absolute;
            left: 68.3vw;
            width: 24.5vw;
            top: 311px;
            height: 625px;
        }

      }

}
.project{
    background-color: black;
    display: flex;
    flex-direction: column;
    &_title{
        @include textTitle();
        color: white;
    }
    &_pen{
        @include icons();
        width: 7.5%;
        padding-top: 25px;
    }
    &_article{
        margin: 23px 4.5% 39px 4.5%;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 135.84%;
        text-align: center;
        color: #FFFFFF;
        padding-left: 6%;
        padding-right: 6%;
    }
    &_pic{
        height: 485px;
        width: 90%;
        position: relative;
        padding-top: 60px;
    }
    &_picture{
        height: 365px;
        margin: 0 4.6%;
        width: 100%;
        
    }
    
    &_details{
        padding-left: 8%;
        position: absolute;
        height: 241px;
        top:220px;
        left: 4.6%;
        background: #FFFFFF;
        background-color: white;
        height: 240px;
        width: 72%;
        font-family: FuturaBookC;
        font-size: 13px;
        line-height: 169.8%;
        /* or 22px */
        color: #959595;
        li{
            list-style-type: circle;
        }
        h3{
            font-family: Yeseva One;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 138.6%;
            /* identical to box height, or 21px */
            color: #363636;
            padding-top: 21px;
            padding-bottom: 10px;
        }
    }
    &_price{
        position: absolute;
        bottom: 8%;
        left: 4.6%;
        width: 50%;
        background-color: #E3B873;
        font-family: Yeseva One;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 138.6%;
        /* or 21px */
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 17px;
        height: 40px;
        align-content: center;
        padding-top: 14px;
        padding-left: 10%;
    }
    @media screen and (min-width : 800px){
        background: linear-gradient(180deg, white 50%,black 50%);
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1035px;
    &_title{
        color: black;
        margin: 112px 41vw 24px 41vw ;
        font-size: 20px;
    }
    &_pen{
        padding-top: 0px;
        margin: -40px 3vw 24px 0vw;
    width: 2vw;
    }

    &_article{
        margin: -31px 23.5vw 0 28.5vw ;
        padding-left: 0;
        padding-right: 0;
        color: black;
        font-size: 20px;
    }
    &_pic{
        height: 534px;
        width: 27vw;
        position: relative;
        padding-top: 0px;
        margin: 0 2vw;
    }
    &_picture{
        height: 392px;
        
        
    }
    
    &_details{
        padding-left: 2vw;
        position: absolute;
        height: 237px;
        top: 294px;
        left: 2vw;
        width: 23vw;
        font-size: 15px;
        h3{
            font-size: 18px;
            padding-top: 25px;
            padding-bottom: 13px;
        }
    }
    &_price{
        position: absolute;
        bottom: 0;
        left: 2vw;
        width: 15.8vw;
        font-size: 18px;
        margin-top: 17px;
        height: 54px;
        align-content: center;
        padding-top: 14px;
        padding-left: 10%;
        
    }
    .second{
            position: absolute;
            top: 534px; 
        }
        .third{
            position: absolute;
            top: 651px; 
        }
    .full{
        height: 414px;
    }
    .standart{
        height: 300px;
    }
    }
    
}
.team{
    background-color: black;
    &_description {
        h2{
        @include textTitle();
        color: white;
        }
        h3{
            margin: 23px 4.5% 39px 4.5%;
            font-family: FuturaBookC;
            font-size: 15px;
            line-height: 135.84%;
            text-align: center;
            color: #FFFFFF;
            padding-left: 6%;
            padding-right: 6%;

        }
        img{
            @include icons();
            height: 29px;
            width: 7.7%;
            padding-top: 20px;
        }
        
    }
    &_photo{
        padding-left: 5%;
        width: 90%;
        height: 450px;
        padding-bottom: 55px;
    }

}
.questions{
    background-color: black;
    padding-top:60px;
    color: white;
    &_title{
        @include textTitle();
        
    }
    input{
        margin-bottom: 60px;
    }
    div{
        font-family: FuturaBookC;
        font-size: 16px;
        line-height: 22px;
    }
    &_button{
        width: 90%;
        margin: 0 5% 0 5%;; 
            height: 51px;
            background-color: #E3B873;
            font-family: FuturaDemiC;
            font-size: 15px;
            line-height: 26px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            padding-left: 5%;
    }
}
.map{
    background-color: black;
    &_img {
        @include centrPicture();
        padding-top:50px;
    }

}

.contacts-bottom {
    background-color: black;
    @include textTitle();
    color: $yellowish;
    &_telephone{
        color: $yellowish;
    }
}
.insta{
    background-color: black;
    &_icon{
        padding: 25px 0 38px 37%;
        height: 39px;
        width: 26%;
    }
}


