@font-face {
    font-family: "FuturaDemiC";
    src: url("assets/fonts-desktop/FuturaDemiC.eot");
    src:
    url("assets/fonts-desktop/FuturaDemiC.woff") format("woff"),
    url("assets/fonts-desktop/FuturaDemiC.ttf") format("ttf"),
    url("assets/fonts-desktop/FuturaDemiC.woff2") format("woff2");
    }

@font-face {
    font-family: "Yeseva One";
    src: url("assets/fonts-desktop/YesevaOne.eot");
    src:
    url("assets/fonts-desktop/YesevaOne.woff") format("woff"),
    url("assets/fonts-desktop/YasevaOne.ttf") format("ttf"),
    url("assets/fonts-desktop/YasevaOne.woff2") format("woff2");
    }
    
@font-face {
    font-family: "FuturaBookC";
    src: url("assets/fonts-desktop/FuturaBookC.eot");
    src:
    url("assets/fonts-desktop/FuturaBookC.woff") format("woff"),
    url("assets/fonts-desktop/FuturaBookC.ttf") format("ttf"),
    url("assets/fonts-desktop/FuturaBookC.woff2") format("woff2");
    }  