.form{
    height: 260px;
    background: black;
    display: flex;
    flex-direction: column;
    font-family: FuturaBookC;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 10px;
    top: 100px;
    :nth-child(3){
        padding-top: 40px; 
        
    }
    
    
    &_label{
        margin-left: 4.5%;
        font-family: FuturaBookC;
        font-size: 15px;
        line-height: 20px;
        color: rgba(255, 255, 255, 0.5);
        
    }
    
    &_input{
        width: 90%;
        box-sizing: border-box;
        border: none;
        background-color: black;
        border-bottom: 2px solid white;
        margin-left: 4.5%;
        color:white;
        font-family: FuturaBookC;
        font-size: 18px;
        line-height: 138.72%;
        
    }
    &_checkbox{
       padding-left: 4.5%;
    }
    @media screen and (min-width : 800px){
        height: 342px;
        background:white;
    flex-direction: row;
    font-family: FuturaBookC;
    font-size: 18px;
    line-height: 24px;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    :nth-child(1){
        padding-top: 0; 
    }
    .label_1{
        position: absolute;
        top:5px;
        left: 33vw;
        color: grey;
    }
    .label_2{
        position: absolute;
        top:-35px;
        left: 50vw;
        color: grey;
    }
    &_label{
        margin-left: 0;
        color: black;
    }
    
    &_input{
        width: 16.6vw;
        background-color: white;
        border-bottom: grey 1px solid;
        margin-left: 10px;
        color:black;
        font-family: FuturaBookC;
        font-size: 18px;
        line-height: 20px;
        height: 51px;
    }
    &_checkbox{
       padding-left: 0;
       position: absolute;
       left: 38vw;
       top: 119px;
    }
    }
}
